
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";


body {
  
}

#header {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

} 

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.logo img {
  width: 200px;
  height: 70px;
  text-decoration: none;
  color: #333;
}

.link {
  margin-left: 20px;
}

.menu {
  display: flex;
  list-style: none;
}

li {
  padding: 21px 8px;
}

li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #57bbac;
  padding: 25px 8px;
}
li:hover {
  background-color: rgb(245, 245, 245);
}

#footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-size: 12px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 110px;
  height: 60px;
}

.search-window {
  width: 250px;
  height: 35px;
  border-radius: 30px;
  background-color: aqua;
}

.btn-default {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #57bbac;
  padding: 25px 8px;
}

.btn-default:hover {
  background-color: rgb(245, 245, 245);
}

.noti {
  padding-top: 5px;
  .noti2 {
    position: relative;
    .fa-circle {
      position: absolute;
      color: #57bbac;
    }

    .fa-bell {
      width: 28px;
      height: 28px;
      font-size: 28px;
      color: #57bbac;
      margin-left: 3px;
    }
  }
}

.aicon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  
  
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #57bbac;
}

.teacher-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #57bbac;
}

.fake-aicon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #57bbac;
  border: 2px solid #57bbac;
}


.notice {
  margin-left: 170px;
  margin-bottom: 5px;
  width: 250px;
  padding: 10px 20px;
  color: white;
  background-color: #6efbe9;
  border-radius: 5px;
  text-align: center;

}