// Place all the styles related to the teacher_evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#teacher_evaluations-new, #teacher_evaluations-create  {
  .comment-container {
    max-width: 1180px;
    margin: 0 auto;
    min-height: 650px;
    
    margin-top: 30px;
    padding-bottom: 20px;
    .user-image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .comment-area {
      border-bottom: 1px solid #333;
      

      display: inline-block;
      vertical-align: top;
      width: 95%;
      height: 30px;
      padding: 3px 12px;
      margin-top: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
      line-height: 1.6;
    }
    .submit{
      margin-left: 85%;
      margin-top: 10px;
      margin-right: 50px;
      .send {
        max-width: 180px;
        text-align: center;
        border: 2px solid #57bbac;
        font-size: 16px;
        color: #57bbac;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 4px;
        transition: .4s;
        margin: 10px 0 10px 30px;
      }
      .send:hover {
        background-color: #57bbac;
        border-color: #EEFFFF;
        color: #FFF;
      }
    }
    .comments {
      h4 {
        margin-bottom: 20px;
      }
      .comment {
        margin-bottom: 10px;
        height: 60px;
        display: flex;
        .commenter-image {
          
          .image {

            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
        }
        .main-content {
          display: block;
          margin-left: 10px;
          .name {
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
          }
        }
      }
    }
  }
}